Flask==3.0.0
Flask-SQLAIchemy==3.1.1
SQLAlchemy==2.0.23
gunicorn==21.2.0
python-dotenv==1.0.0
openai==1.51.0
psycopg2-binary==2.9.9
email-validator==2.1.0
Werkzeug==3.0.1
python-docx==1.1.0
pypdf2==3.0.1